{[dispatch c='public'  a='head']}
<div class="hbg2">
	<div class="hbg_resize"></div>
</div>
<div class="content">
	<div class="content_resize">
	  <div class="mainbar">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="2"><img src="{[$STATIC]}css/images/test.jpg" /></td>
		  </tr>
		  <tr>
			<td colspan="2"><b>DNDUN，稳定的智能DNS解析</b>
				<p>解析稳定，管理安全，SLA可达99.99%，无限制的解析条数，精准的IP网络划分，24小时在线技术支持， 服务器故障检测及自动切换，永久免费，更有URL转发、负载均衡等更多功能...</p>			</td>
		  </tr>
		  <tr>
			<td height="200" width="400" align="center"><img src="{[$STATIC]}css/images/mt_pic1.png" /></td>
			<td>安全强大的DNS智能解析<br />
https安全的用户管理平台，重要操作通知到短信或邮箱，负载均衡、无限制的解析记录条数、分网分省智能解析、URL转发、宕机检测、批量添加和解析域名...</td>
		  </tr>
		  <tr>
			<td height="200">稳定的DNS解析服务云架构<br />
全天24小时服务器实时监控，智能DNS防火墙拦截技术，全国多机房多节点同时提供服务，为您提供稳定不间断的DNS解析更有保障。<br />
<img src="{[$STATIC]}css/images/mt_pic3.png" />
			</td>
			<td align="center"><img src="{[$STATIC]}css/images/mt_pic2.png" /></td>
		  </tr>
		  <tr>
			<td height="400">DNSLA最贴心的服务<br />
在线技术支持、24小时电话客服、QQ、论坛，让您随时随地都能感受到DNSDUN的真诚服务。
			</td>
			<td align="center"><img src="{[$STATIC]}css/images/mt_pic8.png" /></td>
		  </tr>
		</table>
	  </div>
	<div class="clr"></div>
</div>
</div>
