{[dispatch c='public'  a='head']}
<script type='text/javascript'>
$(document).ready(function(){
	var from = $("#register-from");
	//var oldaction = from.attr('action');
	//var newaction = "https://" + window.location.host + window.location.pathname + oldaction;
	//console.log(newaction);
	//from.attr('action',newaction);
	//console.log(from.attr('action'));
});
	
</script>
<div class="wrap">
<div class="contain" style="padding:10px 15px;">
	<div>
		<fieldset>
			<legend>用户注册</legend>
		</fieldset>
	</div>
	<div class="row">
		<div class="span6">

			{[if $successmsg]}
			<div class="alert alert-success">{[$successmsg]}</div>
			{[else]} {[if $errormsg]}
			<div class="alert alert-error">{[$errormsg]}</div>
			{[/if]}
			<form action="?c=public&a=register" method="post" id="register-from" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputEmail">邮箱:</label>
					<div class="controls">
						<input type="text" name="email" placeholder="Email" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">密码:</label>
					<div class="controls">
						<input type="password" name="passwd" placeholder="password"
							required>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputEmail">姓名:</label>
					<div class="controls">
						<input type="text" name="name">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputEmail">注册协议:</label>
					<div class="controls">
						<input type="checkbox" name="agreement"  checked value=1>&nbsp; <span
							style="padding-buttom: 0px;"><a href="?c=public&a=pact"
							target="_blank">我已阅读并同意此协议</a></span>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btns btn-success">注册</button>
					</div>
				</div>
			</form>
			{[/if]}
		</div>
		<div class="span6">{[include file='public/right.html']}</div>
	</div>
</div>
</div>

{[include file='public/foot.html']}
