<!-- 阴影 -->
<div class="header_c2 i_header_c"></div>

<div class="clear_div i_center">
<div class="a_left">
<div class="clear_div list_t">
<dl class="green_th"><dd class="th">联系我们</dd></dl>
<div class="clear_div list_n gray_border">
<dl class="clear_div l_contact">
<dt>客服 QQ：<a href="tencent://message/?uin=2653705417&amp;Site=www.dnsdun.com&amp;Menu=yes" class="qq_btn png_bj">QQ交谈</a>
<p>客服 QQ：<a href="tencent://message/?uin=1679763385&amp;Site=www.dnsdun.com&amp;Menu=yes" class="qq_btn png_bj">QQ交谈</a></p>
</dt>
<dd>
<p>联系电话：400-807-9103</p>
<p>联系手机：魏小玲 13517914215</p>
<p>支付宝帐号：<br>pay@dnsdun.com 南昌邦腾科技有限公司</p>
<p>财付通： 5968629   魏小玲</p>
<p>公司支付账号：</p>
<p>账户名称：南昌邦腾科技有限公司</p>
<p>银行账号： 791904403210908</p>
<p>开户银行：招商银行南昌分行青山湖支行</p>
<p>公司地址：江西省南昌市高新区绿地新都会39#商业楼2106室</p>
</dl>
</div>
<!--end边框-->
</div>
<!--end联系我们-->
</div>
<!--end左边-->
<div class="a_right">
<dl class="i_th i_th_green"><dd class="th">关于我们</dd></dl>

<div class="clear_div about_text">
<p>
    "为客户创造价值"，倡导"使命、责任、诚信、超越、感恩"的文化精神，我们始终坚持站在用户的角度，不断创新，为用户研发出实用、易操作、极具商业价值的产品功能。
            展望未来，我们满怀信心，我们的点滴进步均来源于广大用户对我们的不断支持，我们必将以更饱满的热情和更优质产品与服务回报广大用户。</p>
</div>
<!--end文字-->

<dl class="i_th"><dd class="th">百度地图</dd></dl>

<div class="map_box clear_div"><a href="###"><img src="{[$STATIC]}images/pic/01.jpg" alt="" width="630" height="380"></a></div>
<!--end地图-->

</div>
<!--end右边-->
</div>
<!--end中间区域-->
{[include file='public/float2.html']}
