<div class="online onlines">
  <ul class="online">
    <li class="li"><a href="tencent://message/?uin=2653705417&amp;Site=www.dnsdun.com&amp;Menu=yes" class="ts">点击咨询客服</a><a href="tencent://message/?uin=2653705417&amp;Site=www.dnsdun.com&amp;Menu=yes" class="o_1">qq</a></li>
    <li class="li"><span class="ts">400-807-9103</span><a href="###" class="o_2">tel</a></li>
    <li class="li"><a href="tencent://message/?uin=1679763385&amp;Site=www.dnsdun.com&amp;Menu=yes" class="ts">意见建议</a><a href="tencent://message/?uin=1679763385;Site=www.dnsdun.com&amp;Menu=yes" class="o_5">qq</a></li>
    <!--<li class="li"><a href="###" class="ts o_3t">意见建议</a><a href="###" class="o_3">ask</a>-->

<div class="yd-feedback-suggestion">
    <div class="fb-title">
        <strong>意见反馈</strong>
        <span class="fb-suggestion-tip">温馨提示：紧急问题请直接联系客服</span>
    </div>

    <div class="fb-close">Close</div>

    <div class="fb-suggestion-content">
        <ul class="fb-attitudes">
            <li value="1" class="fb-attitude-suggest fb-selected">建议</li>
            <li value="2" class="fb-attitude-criticize">批评</li>
            <li value="3" class="fb-attitude-praise">表扬</li>
        </ul>
        <form name="suggestion">
            <textarea class="" name="content"></textarea>
            
            <input type="button" class="fb-input-button" name="submit" id="feed_submit" value="提交">
            <label class="errortip"></label>
            <input type="hidden" name="type" value="1">
        </form>
    </div>
</div>
    </li>
    <li class="li"><a href="#" class="o_4">top</a></li>
  </ul>
</div>
  <!--end在线浮动工具-->


<script type="text/javascript" src="{[$STATIC]}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{[$STATIC]}js/global.js"></script>
<script type="text/javascript" src="{[$STATIC]}js/flash.js"></script>

<!--[if lt IE 10]>
<script type="text/javascript" src="{[$STATIC]}js/pie.js"></script>
<![endif]-->
<script language="javascript">
$(function () {
if (window.PIE) {
$('.rounded').each(function () {
PIE.attach(this);
});
}
});
</script>