<dl class="link_th"><dd class="th">友情链接</dd></dl>
<ul class="clear_div h_link th">
	<li>
		<a href="#">高防CDN</a>

	</li>
</ul>


<div class="clear_div2 footer">
	<ul class="clear_div2 footer">
		<li><a href="###" class="th">产品<span>product</span></a><p><a href="?c=public&a=products">产品介绍</a></p></li>
		<li><a href="###" class="th">api<span>api</span></a><p><a href="#" target="_blank">api文档</a></p></li>
		<li><a href="###" class="th">帮助<span>help</span></a><p><a href="#">帮助中心</a></p></li>
		<li><a href="###" class="th">关于<span>about</span></a><p><a href="?c=public&a=content">关于我们</a></p></li>
	</ul>
</div>
<!--end文件脚-->

<div class="clear_div2 footer_d"><ul class="clear_div2 footer_d">
<li>&copy;2015 Aegins

</li>
</ul></div>

</body>
</html>