<!-- 阴影 -->
<div class="header_c2 i_header_c"></div>

<div class="tab_c_nav buy_tab_nav th">
<dl>
<dd><a href="#" class="t_1"><span class="png_bj">高防独立服务器</span></a></dd>
<dd class="tab_light"><a href="#" class="t_2"><span class="png_bj">大带宽服务器</span></a></dd>
</dl>
</div>
<!--end标签导航-->
<div class="tab_c_box buy_tab_box">
<div class="none">

<div>
<table class="buy_table last_table">
	<tr class="th">
		<th width="170">编号</th>
		<th width="170">机房</th>
		<th width="170">CPU</th>
		<th width="170">内存</th>
		<th width="170">硬盘</th>
		<th width="170">带宽</th>
		<th width="170">IP数</th>
		<th width="170">防御</th>
		<th width="180">价格/月</th>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>高防独立服务器</b></td>
    </tr>
    <tr>
		<td class="l_text"><b>L5520-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>L5520 4核8线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">1300元</font></td>
    </tr>
	<tr>
		<td width="10" class="l_text"><b>E5520-A</b></td>
		<td width="170">圣何塞</th>
		<td width="170">Xeon E5520 8核16线程 3.3GHz</td>
		<td width="170">16GB</td>
		<td width="170">1TB</td>
		<td width="170">100M独享</td>
		<td width="170">2</td>
		<td width="170"><font color="#0000FF">单机10G</font></td>
		<td width="170"><font color="#FF0000">1350元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">1600元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-B</b></td>
		<td>洛杉矶</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>8GB</td>
		<td>500GB</td>
		<td>30M国内优化路由</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">1350元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>X5650-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon X5650 x2 12核24线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">2200元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E5-2620-A</b></td>
		<td>洛杉矶/圣何塞</td>
		<td>Xeon E5-2620 6核12线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">3400元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>大带宽服务器</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>L5520-C</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">2300元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-C</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">2600元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>X5650-C</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon X5650 x2 12核24线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">3200元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E5-2620-D</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon E5-2620 6核12线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">4400元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>独立服务器</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>L5520-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">1000元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">1300元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E5130-A</b></td>
		<td>香港</th>
		<td>Xeon E5130*2 4核8线程</td>
		<td>8GB</td>
		<td>500GB</td>
		<td>3M国内优化路由</td>
		<td>5</td>
		<td>-</td>
		<td><font color="#FF0000">900元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>站群服务器</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>L5520-D</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>255</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">1400元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>L5520-E</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>128</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">3800元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>普通云主机</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>CS 1G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>1GB</td>
		<td>40GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">128元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>CS 2G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>2GB</td>
		<td>80GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">148元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>CS 4G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>2核（E5-2600系列）</td>
		<td>4GB</td>
		<td>120GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">268元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>CS 8G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>4核（E5-2600系列）</td>
		<td>8GB</td>
		<td>180GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">468元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>【高防】云主机</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>PCS 1G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>1GB</td>
		<td>40GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">428元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>PCS 2G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>2GB</td>
		<td>80GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">448元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>PCS 4G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>2核（E5-2600系列）</td>
		<td>4GB</td>
		<td>120GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">568元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>PCS 8G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>4核（E5-2600系列）</td>
		<td>8GB</td>
		<td>180GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">768元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>【托管】机柜租用</b></td>
    </tr>
<table class="buy_table last_table">
	<tr class="th">
		<th colspan="3">编号</th>
		<th colspan="2">机房</th>
		<th colspan="2">详情</th>
		<th colspan="2">价格/月</th>
	</tr>
	<tr>
		<td class="l_text" colspan="2"><b>Co 1U</b></td>
		<td colspan="2">洛杉矶/圣何塞</td>
		<td colspan="2">1U/1A/100M独享/2 IP</td>
		<td colspan="2"><font color="#FF0000">700元</font></td>
	</tr>
	<tr>
		<td class="l_text" colspan="2"><b>Co 1/2机柜</b></td>
		<td colspan="2">LAX1/LAX2/SJC1</td>
		<td colspan="2">20U/20A/500M独享/16 IP</td>
		<td colspan="2"><font color="#FF0000">5000元</font></td>
	</tr>
	<tr>
		<td class="l_text" colspan="2"><b>Co整柜</b></td>
		<td colspan="2">LAX1/LAX2/SJC1</td>
		<td colspan="2">42U/双20A/1000M独享/32 IP</td>
		<td colspan="2"><font color="#FF0000">10000元</font></td>
	</tr>
    <tfoot>
    <tr>
    	<td colspan="9"><b>购买服务器及服务器硬件升级，价格请咨询客服，    客服 QQ：</b><a href="tencent://message/?uin=1604275417&amp;Site=www.dnsdun.com&amp;Menu=yes" class="qq_btn">QQ交谈</a></td>
    </tr>
    </tfoot>
</table>
</div>
</div>

<!--end企业套餐-->


<div>
<table class="buy_table last_table">
	<tr class="th">
		<th width="170">编号</th>
		<th width="170">机房</th>
		<th width="170">CPU</th>
		<th width="170">内存</th>
		<th width="170">硬盘</th>
		<th width="170">带宽</th>
		<th width="170">IP数</th>
		<th width="170">防御</th>
		<th width="180">价格/月</th>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>高防独立服务器</b></td>
    </tr>
    <tr>
		<td class="l_text"><b>L5520-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>L5520 4核8线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">1300元</font></td>
    </tr>
	<tr>
		<td width="10" class="l_text"><b>E5520-A</b></td>
		<td width="170">圣何塞</th>
		<td width="170">Xeon E5520 8核16线程 3.3GHz</td>
		<td width="170">16GB</td>
		<td width="170">1TB</td>
		<td width="170">100M独享</td>
		<td width="170">2</td>
		<td width="170"><font color="#0000FF">单机10G</font></td>
		<td width="170"><font color="#FF0000">1350元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">1600元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-B</b></td>
		<td>洛杉矶</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>8GB</td>
		<td>500GB</td>
		<td>30M国内优化路由</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">1350元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>X5650-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon X5650 x2 12核24线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">2200元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E5-2620-A</b></td>
		<td>洛杉矶/圣何塞</td>
		<td>Xeon E5-2620 6核12线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">3400元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>大带宽服务器</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>L5520-C</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">2300元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-C</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">2600元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>X5650-C</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon X5650 x2 12核24线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">3200元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E5-2620-D</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon E5-2620 6核12线程</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>1Gbps独享</td>
		<td>2</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">4400元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>独立服务器</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>L5520-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">1000元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E3-1230-A</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>E3-1230v2 4核8线程 3.2GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>2</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">1300元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>E5130-A</b></td>
		<td>香港</th>
		<td>Xeon E5130*2 4核8线程</td>
		<td>8GB</td>
		<td>500GB</td>
		<td>3M国内优化路由</td>
		<td>5</td>
		<td>-</td>
		<td><font color="#FF0000">900元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>站群服务器</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>L5520-D</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>255</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">1400元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>L5520-E</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>Xeon L5520 8核16线程 2.26GHz</td>
		<td>16GB</td>
		<td>1TB</td>
		<td>100M独享</td>
		<td>128</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">3800元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>普通云主机</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>CS 1G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>1GB</td>
		<td>40GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">128元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>CS 2G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>2GB</td>
		<td>80GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">148元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>CS 4G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>2核（E5-2600系列）</td>
		<td>4GB</td>
		<td>120GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">268元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>CS 8G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>4核（E5-2600系列）</td>
		<td>8GB</td>
		<td>180GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">基础防御</font></td>
		<td><font color="#FF0000">468元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>【高防】云主机</b></td>
    </tr>
	<tr>
		<td class="l_text"><b>PCS 1G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>1GB</td>
		<td>40GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">428元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>PCS 2G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>1核（E5-2600系列）</td>
		<td>2GB</td>
		<td>80GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">448元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>PCS 4G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>2核（E5-2600系列）</td>
		<td>4GB</td>
		<td>120GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">568元</font></td>
	</tr>
	<tr>
		<td class="l_text"><b>PCS 8G</b></td>
		<td>洛杉矶/圣何塞</th>
		<td>4核（E5-2600系列）</td>
		<td>8GB</td>
		<td>180GB</td>
		<td>10M独享</td>
		<td>1</td>
		<td><font color="#0000FF">单机10G</font></td>
		<td><font color="#FF0000">768元</font></td>
	</tr>
    <tr>
    	<td colspan="9" align="left"><b>【托管】机柜租用</b></td>
    </tr>
<table class="buy_table last_table">
	<tr class="th">
		<th colspan="3">编号</th>
		<th colspan="2">机房</th>
		<th colspan="2">详情</th>
		<th colspan="2">价格/月</th>
	</tr>
	<tr>
		<td class="l_text" colspan="2"><b>Co 1U</b></td>
		<td colspan="2">洛杉矶/圣何塞</td>
		<td colspan="2">1U/1A/100M独享/2 IP</td>
		<td colspan="2"><font color="#FF0000">700元</font></td>
	</tr>
	<tr>
		<td class="l_text" colspan="2"><b>Co 1/2机柜</b></td>
		<td colspan="2">LAX1/LAX2/SJC1</td>
		<td colspan="2">20U/20A/500M独享/16 IP</td>
		<td colspan="2"><font color="#FF0000">5000元</font></td>
	</tr>
	<tr>
		<td class="l_text" colspan="2"><b>Co整柜</b></td>
		<td colspan="2">LAX1/LAX2/SJC1</td>
		<td colspan="2">42U/双20A/1000M独享/32 IP</td>
		<td colspan="2"><font color="#FF0000">10000元</font></td>
	</tr>
    <tfoot>
    <tr>
    	<td colspan="9"><b>购买服务器及服务器硬件升级，价格请咨询客服，    客服 QQ：</b><a href="tencent://message/?uin=1604275417&amp;Site=www.dnsdun.com&amp;Menu=yes" class="qq_btn">QQ交谈</a></td>
    </tr>
    </tfoot>
</table>
</div>
</div>
<!--end个人套餐-->
</div>
<!--end标签内容-->
{[include file='public/float2.html']}
