<!-- 阴影 -->
<div class="header_c2 i_header_c"></div>

<dl class="i_th2"><dd class="th">&nbsp;</dd></dl>

<dl class="clear_div service_o">
	<TABLE class=text cellSpacing=0 cellPadding=0 width="100%" border=0>
		<tr><td align="center"><img src="{[$STATIC]}images/error2.gif" alt="出错了"></td></tr>
		<TR>
			<TD height="130" align="center">
				<P><STRONG><FONT color=#ba1c1c size="+1">您访问的域名未在Aegins添加，具体原因请联系我们客服!谢谢！<br /></FONT></STRONG><BR></P>
			</TD>
		</TR>
	</TABLE>
</dl>

{[include file='public/float2.html']}
<SCRIPT language="JavaScript">
<!-- Begin
lastScrollY=0;
function heartBeat(){
diffY=document.body.scrollTop;
percent=.1*(diffY-lastScrollY);
if(percent>0)percent=Math.ceil(percent);
else percent=Math.floor(percent);
document.all.lovexin1.style.pixelTop+=percent;
document.all.lovexin2.style.pixelTop+=percent;
lastScrollY=lastScrollY+percent;
}

suspendcode1="<DIV id=lovexin1 style='right:20px;POSITION:absolute;TOP:250px;'></div>"
document.write(suspendcode1);
suspendcode2="<DIV id=lovexin2 style='left:20px;POSITION:absolute;TOP:250px;'><a href='http://www.cdnbest.com/?dns_lock' title='cdnbest' target='_blank'><img border=0 src='/public/view/default/images/cdn-ad.gif'></a></div>"
document.write(suspendcode2);

window.setInterval("heartBeat()",1);
//  End -->
</SCRIPT>