<!-- 阴影 -->
<div class="header_c2 i_header_c"></div>

<dl class="i_th"><dd class="th">最先进、安全的的核心技术</dd></dl>

<ul class="clear_div pro_adv">
<li><dl><dt class="th"><span>域名注册</span></dt><dd><p>DNS提供域名注册服务，为您提供一站式服务，为您的域名提供解析和防护服务，让您网站更稳定。</p></dd></dl></li>
<li><dl><dt style="background:#ff9f23;" class="th"><span>安全强大的 DNS 智能解析</span></dt><dd><p>https安全的用户管理平台，重要操作通知到短信或邮箱，负载均衡，无
限制的解析记录条数、分网分省智能解析、URL转发、宕机检测、批量添加和解析域名.....</p></dd></dl></li>

<li><dl><dt style="background:#e72545;" class="th"><span>高防CDN,免费CDN</span></dt><dd><p>让您方便快速架设cdn,可防CC攻击，网站加速，DNS+CDN一体化防护，全方位防护无死角！</p></dd></dl></li>

</ul>



<dl class="i_th i_th_yellow"><dd class="th">最贴心的售后服务</dd></dl>
<dl class="clear_div pro_head">
<dt><ul>
<li><span class="l"><img src="{[$STATIC]}images/a_1.jpg" alt="" width="29" height="30"></span><span class="r"><span class="th">最高达到99.99%SLA稳定运行保障</span><p>我们拥有行业领先的域名防护体系</p></span></li>

<li><span class="l"><img src="{[$STATIC]}images/a_2.jpg" alt="" width="29" height="30"></span><span class="r"><span class="th">7*24小时在线技术支持</span><p>24小时电话客服、QQ、全天守候为您服务</p></span></li>

<li><span class="l"><img src="{[$STATIC]}images/a_3.jpg" alt="" width="29" height="30"></span><span class="r"><span class="th">异常操作告警</span><p>异常操作告警</p></span></li>

<li><span class="l"><img src="{[$STATIC]}images/a_4.jpg" alt="" width="29" height="30"></span><span class="r"><span class="th">DNS VIP专属</span><p>优先接入、专属客服，一对一人工服务</p></span></li>
</ul></dt>

<dd><img src="{[$STATIC]}images/pic/01.gif" alt="" width="460" height="315"></dd>
</dl>
{[include file='public/float2.html']}