<!-- 阴影 -->
<div class="header_c2 i_header_c"></div>

<dl class="i_th i_th_green"><dd class="th">域名运营商DNS托管服务</dd></dl>

<dl class="clear_div service_o">
<dd><ul class="hover_list">
<li>用户可自架dns解析系统，用户自已提供服务器，由我们提供全套技术支持服务，让您无后顾之忧</li>
<li>可自定义ns，让您拥有自已的品牌。例:ns1.dnsdun.com ns2.dnsdun.com；</li>
<li>用户与dnsdun数据中心各自存储，有备无患；</li>
<li>与dnsdun同享多个高防御机房、大带宽接入、高性能DNS内核；</li>
<li>最细致的的线路定制，可细分到省份、SEO、各大洲、国家；</li>

</ul></dd>
<dt><img src="{[$STATIC]}images/pic/02.gif" alt="" width="345" height="300"></dt>
</dl>

<dl class="i_th"><dd class="th">企业定制服务</dd></dl>

<dl class="clear_div service_o">
<dd>
<p>流量攻击防御200G，域名查询攻击3000万QPS高防御DNS服务，我们承诺防御无效退款</p>
<p>企业可用自已域名作为NS,让您拥有自已的品牌， 例 ns1.dnsdun.com ns2.dnsdun.com；</p>
<p>无限享用dnsdun增值服务：不限线路、不限解析记录、智能监控、故障报警服务；</p>
<p>提供专属客服24小时服务。引导企业专业解析及相关安全建议与策略；</p>
<dt><img src="{[$STATIC]}images/pic/03.gif" alt="" width="245" height="260"></dt>
</dl>
{[include file='public/float2.html']}