{[include file="public/head.html"]}
<div class="container-fluid">
	{[include file="domainmanage/left.html"]}
	<div style="float:left;margin-left:5px;width:80%;">
		<div>
			<div class="col-sm-7 col-lg-9"><span>我的发票</span></div>
			<div>
				<form action="" method="POST" class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control"/>
						<input type="submit" value="搜索" class="form-control"/>
					</div>
				</form>
			</div>
		</div>
		
		<div class="col-lg-10" style="margin-top:20px;">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>发票金额(元)</th>
						<th>索取发票时间</th>
						<th>发票抬头</th>
						<th>发票状态</th>
						<th>操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
{[include file="public/foot.html"]}
<script type="text/javascript">
$(document).ready(function(){
	$("#left_ul").find("li").eq(2).attr("class",'active');
});
</script>