<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邦腾科技</title>
<meta name="description" content="邦腾科技,南昌市邦腾科技公司">
<meta name="Keywords" content="邦腾科技,南昌市邦腾科技公司">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="baidu-tc-cerfication" content="e907a7e3cf8e28494d30c67915af6dae" />
<style type="text/css">
* { margin:0px; padding:0px; }
body { width:100%; height:100%; text-align:center; font:1rem/1 "\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53", Tahoma, Helvetica, Arial, sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, able, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; -webkit-tap-highlight-color:rgba(0, 0, 0, 0) }
fieldset, img { border:0 }
body{ background:#ffffff;}
.main{ width:90%; height:auto;margin:auto; padding-top:30px; padding-bottom:38px; text-align:center;}
.linkd{ width:80%; height:38px; line-height:38px; text-align:center; margin:auto; font-size:17px; color:#ffffff; background:#fb833b;border-radius:5px; margin-top:15px; margin-bottom:8px;letter-spacing:4px;}
img{ width:250px; height:173px;}
</style>
</head>
<body>
<div class="main"></div>
<div style="width:95%; height:35px; margin:auto; text-align:center; color:#C03; font-size:16px;overflow:hidden;">{[$backinfo]}</div>
</body>
</html>