{[include file='common/head.html']}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
		<div class="wid_main mar_main" align="left">
			<div class="block_top" align="left">当前位置：预留域名</div>
			<form name="form1" action='{[$action]}' method='post'>
				<div style='padding-top: 10px;'>
					<span> 域名搜索: <input name='name' size=32>
						<input type='submit' value='搜索'>

					</span> <span> 选择显示:<select name='page_count'
						onchange='set_pagecount(this.value)'> {[for $i=10;$i <=
							60;$i++]} {[if $i%5==0]}
							<option value='{[$i]}' {[if $page_count==$i]}selected{[/if]}>{[$i]}</option>
							{[/if]} {[/for]}
					</select> 行
					</span>
					<span><input id="addDomainAdmin" type="button" onclick="addReservedDomain()" value="添加预留域名"/></span>
				</div>
			</form>
			<table class="table_main2" cellpadding="0" cellspacing="1">
				<tr>
					<td colspan="16" class="bg_main">预留域名</td>
				</tr>
				<tr>
					<td>操作</td>
					<td>域名</td>
				</tr>
				{[foreach from=$list item=row]}
				<tr id="tr{[$row.id]}">
					<td><a href="javascript:delReservedDomain({[$row.id]})">[删除]</a></td>
					<td>{[$row.domain]}</td>
				</tr>
				{[/foreach]}
			</table>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
function addReservedDomain(){
	var html = "域名:<input type='text' name='domain'/>";
	html += "<input type='button' id='enter' value='确定'>";
	var dia = art.dialog({
		id:'addreserved',
		title:'增加预留域名',
		content:html,
		lock:true
	});
	$("#enter").bind('click',function(){
		var domain = $("[name=domain]").val();
		dia.close();
		addReservedDomainEnter(domain);
	});
}
function addReservedDomainEnter(domain){
	$.ajax({
		url:'?c=domainreserved&a=addReservedDomain',
		data:{domain:domain},
		dataType:'json',
		success:function(a){
			if(a.status.code != 1){
				alert(a.ret);
				return;
			}
			window.location.href = "?c=domainreserved&a=pagelist";
		},
		error:function(a){
			alert("error");
		}
	});
}
function delReservedDomain(id){
	var html = "<div><span style='font-size:20px;'>您确定要删除此域名</span></div><br/>";
	html += "<div><button type='button' class='btn btn-success' id='enter'>确定</button><button type='button' class='btn btn-default' id='esc'>取消</button></div>";
	var dia = art.dialog({
		id:'delreserved',
		title:'删除预留域名',
		content:html,
		lock:true
	});
	$("#enter").bind('click',function(){
		delReservedDomainAjax(id);
	});
	$("#esc").bind('click',function(){
		dia.close();
	});
}
function delReservedDomainAjax(id){
	$.ajax({
		url:'?c=domainreserved&a=delReservedDomain',
		data:{id:id},
		dataType:'json',
		success:function(a){
			if(a.status.code != 1){
				alert("删除预留域名失败");
				return;
			}
			window.location.href = "?c=domainreserved&a=pagelist";
		},
		error:function(a){
			alert("error");
		}
	});
}
</script>