<div class="row-fluid" style="margin-top:10px;">
		          <div class="span12">
		              <div id="responsive-record-nav" class="tabbable">
							<span id="responsive-operat-span" class="span7">
								{[$name]} 
								<span id="message" style="margin:0px 20px;w"></span>
			               </span>
					       <ul class="nav nav-tabs">
					       		<li id="containerSetting" class="pull-right"><a href="?c=containersetting&a=pagelist&name={[$name]}">容器设置</a></li>
					       		<li id="connection" class="pull-right"><a href="?c=container&a=connection&name={[$name]}">连接信息</a></li>
								<li id="ftp" class="pull-right"><a href="?c=containerftp&a=pagelist&name={[$name]}">管理列表</a></li>
								<li  id="db" class="pull-right"> <a href="?c=containerdb&a=pagelist&name={[$name]}">数据库</a></li>
								<li id="domain" class="pull-right"><a href="?c=containerdomain&a=pagelist&name={[$name]}">域名列表</a></li>
					       </ul>
					   </div>
			      	</div>
			   </div>