{[dispatch c='public'  a='head']}
<script type="text/template" id="buy-template">
月数：<i class="icon-minus" id="minus"></i><input type="text" name="months"class="input-mini" value="1"/><i class="icon-plus" id="add"></i>
<button id="enter" class="btn btns btn-success" data-loading-text="正在执行...">提交</button>
<button id="esc"  class="btn">取消</button>
</script>
<script type="text/template" id="buy-success-template">
<div style="background:F5F5F5">
	<image src="/style/img/buy_success.png" style="margin:5% 40%;">
    <div class="buy_message">您的产品已经购买成功！</div>
     <div class="buy_message"> 您可以在<a href="?c=containerproduct&a=usercontainer">我的容器-->未使用</a>查看您购买的产品</div>
    <div class="buy_button" style="margin-left:20%">该页面会在<span id="time">10</span>秒之后自动跳转</div>
</div>
</script>

<script type="text/javascript">
$(function(){
	$("#left_group_list").find('div').eq(0).addClass('cur');
	$("#nav_container").addClass('cur');
});

</script>
<link href="/style/user/css/container.css" rel="stylesheet">
<link href="/style/user/css/domain.css" rel="stylesheet">
<div class="row-fluid" style="height:30px;">
		<span id="domain_error" class="offset3"></span>
</div>
<div class="wrap" id="left">
    <div class="cl mtb20">
		{[include file='container/containerleft.html']}
 		<div class="cont_main">
 			<div class="buycontainer">
	 			 <ul>
	 			{[foreach from=$rows item=row]}
	 				<li>
	 					<p class="container_price"><span class="yuan">￥</span><span class="strong">{[$row.price/100]}</span>元/月</p>
	 					<p class="container_p container_name">{[$row.name]}</p>
	 					<p class="container_p">MYSQL数据库</p>
	 					<p  class="container_p"><span class="store">{[$row.memory]}M</span>内存</p>
	 					<p  class="container_p"><span class="store">{[$row.disk_space]}G</span>硬盘</p>
	 					<a class="btn btn-success btns" href="?c=containerproduct&a=buyProduct&id={[$row.id]}" style="margin:15px 0px;">立即购买</a>
	 				</li>
				{[/foreach]}
				</ul>
 			</div>
 		</div>
  </div>
</div>
<!--
{[foreach from=$rows item=row]}
 				 <div id="tr{[$row.id]}" data-price="{[$row.price/100]}"  style="width:40%;float:left;margin:15px 10px;">
	 				<table class="domain_table" style="width:100%">
						 <caption class="alert-danger"><h5>{[$row.name]}<h5></caption>
						 	<tr><td>价格</td><td id="price"><em>{[$row.price/100]}元(月)</em></td></tr>
						 	<tr><td>MYSQL</td><td>支持</td></tr>	  
						 	<tr><td>内存</td><td>{[$row.memory]}M</td></tr>    
							<tr><td>硬盘</td><td>{[$row.disk_space]}G</td></tr>
							 <tr><td colspan="2"> <div id="buy"><a class="btn btn-success btns" href="?c=containerproduct&a=buyProduct&id={[$row.id]}">立即购买</a></div></td></tr>	      
					</table>
				</div>
			{[/foreach]}
 -->
{[include file='public/foot.html']}