{[include file='common/head.html']}
<form action='?c=ns&a=ipedit&action={[$action]}&id={[$id]}&master={[$master]}'
	method='POST'>
	<table>
		<tr>
			<td>ip</td>
			<td><input name='ip' value='{[$row.ip]}'></td>
		</tr>
		<tr>
			<td>类型</td>
			<td><input name='type' type='radio' value='0'
				{[if {[$row.type]}==0]}checked{[/if]}>ns1 <input name='type'
				type='radio' value='1' {[if {[$row.type]}==1]}checked{[/if]}>ns2
			<input name='type'
				type='radio' value='2' {[if {[$row.type]}==2]}checked{[/if]}>ns3
				</td>
		</tr>
		<tr>
			<td>分组(ns3类型无效)</td>
			<td><input name='ip_group' value='{[$row.ip_group]}'></td>
		</tr>
		<tr>
			<td><div title='相同分组相同ip名称视为不可分割'>ip名称(ns3类型无效)</div></td>
			<td><input name='slot_name' value='{[$row.slot_name]}'></td>
		</tr>
		<tr>
			<td>备注</td>
			<td><input name='desc' value='{[$row.desc]}'></td>
		</tr>
		<tr>
			<td colspan=2><input type='submit' value='{[if $action=='new']}增加{[else]}修改{[/if]}'>
			</td>
		</tr>
	</table>
</form>
{[include file='common/foot.html']}
