{[dispatch c='public'  a='head']}
<link href="/style/user/css/record.css" rel="stylesheet">
<script type='text/javascript' src="/style/jq.cookie.js"></script>
<script type='text/javascript' src="{[$STATIC]}domain/page.js"></script>
<script type='text/javascript' src="{[$STATIC]}record/record.js?v={[$jsversion]}"></script>
{[include file='record/indextemplete.html']}
<script type="text/javascript">
var iscdn = "{[$iscdn]}";
var isadmin = "{[$isadmin]}";
var recordvalue = "{[$recordvalue]}"
</script>

<div id="record-tips" class="wrap record_tip"></div>

<div class="wrap">
	<div class="contain">
		{[include file='record/right-operat.html']}
	
		<div class="contain_middle pr">
			<div class="middl_menus">
				<div class="btn-group"><button class="btn btns btn-success" id="add-record">添加记录</button></div>
				<div class="btn-group">
					<button class="btn btns dropdown-toggle btn-success"		data-toggle="dropdown">更多操作<span class="caret"></span></button>
					<ul class="dropdown-menu" id="dropdown_operating">
						<li><a href="javascript:;" id="del" 	data-loading-text="正在执行...">删除</a></li>
						<li><a href="javascript:;" id="restor" 	data-loading-text="正在执行...">启用</a></li>
						<li><a href="javascript:;" id="stop" 	data-loading-text="正在执行...">暂停</a></li>
						{[if $iscdn == 1]}
						<li><a href="javascript:;" id="cdn_add" data-loading-text="正在执行...">增加CDN</a></li>
						<li><a href="javascript:;" id="cdn_del">删除CDN</a></li>
						{[/if]}
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn btns btn-success dropdown-toggle" data-toggle="dropdown">分类显示<span class="caret"></span></button>
					<ul class="dropdown-menu" id="dropdown-classify-opera">
						<li><a href="javascript:;" id="all">显示全部</a></li>
						<li><a href="javascript:;" id="a_record">A记录</a></li>
						<li><a href="javascript:;" id="cname_record">CNAME记录</a></li>
						<li><a href="javascript:;" id="unite">@&www</a></li>
						<li><a href="javascript:;" id="analyses_start">解析启用</a></li>
						<li><a href="javascript:;" id="analyses_pause">解析暂停</a></li>
						<li><a href="javascript:;" id="start">启用</a></li>
						<li><a href="javascript:;" id="standby">备用</a></li>
						<li><a href="javascript:;" id="standby_record">备注记录</a></li>
					</ul>
				</div>
				<!--  
				<div class="btn-group">
					<button class="btn dropdown-toggle btn-success" data-toggle="dropdown">CDN批量<span class="caret"></span></button>
					<ul class="dropdown-menu" id="cdn_dropdown_operation">
						<li><a href="javascript:;" id="add" data-loading-text="正在执行...">增加站点域名</a></li>
						<li><a href="javascript:;" id="del">删除站点域名</a></li>
					</ul>
				</div>
				-->
				<div class="btn-group">
					<button class="btn" id="add_multi_record">批量添加</button>
				</div>
				<div class="btn-group">
					<button class="btn" id="import_multi_record" data-loading-text="正在加载">自动导入</button>
				</div>
				<!--  
				禁用添加子域名
				<div class="btn-group">
					<button class="btn" id="add_sub_domain">添加子域名</button>
				</div>
				-->
				<div class="btn-group">
					<button class="btn" id="export_content">导出记录</button>
				</div>
				<div class="btn-group">
					<button class="btn" id="recoverData">导入记录</button>
				</div>
				<span id="from-search" >
					<input type="text" class="search_btn" id="search-input" placeholder="搜索记录">
				</span>
			</div>
		</div>
		<div id="multi_div" style="display:none" class="multi_div"></div>
		<div class="domain_box" id="record-list"></div>
		
		<div>
			<div style="position:relative;height:50px;">
				<div id="record-pagecount-div" style="width:132px;position:absolute;right:0px;"></div>
			</div >
			<div>
				<div class="pager" id="record-page-div"  style="margin-top:-1px;">
					<ul style="padding-top:0px;">
					</ul>
				</div>
		</div >
	</div>
		
		
	</div>
</div>
<!-- ---------------------------------------------------------------------- -->
<span id="div-bg"></span>

{[include file='public/foot.html']}
