{[include file='common/head.html']}
<script type='text/javascript'>
	$(document).ready(function() {
		
	});
</script>
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
	<div align="center">
		<div class="wid_main mar_main" align="left">
			<div class="block_top" align="left">当前位置：管理日志 --> 列表</div>
			<table class="table_main2" cellpadding="0" cellspacing="1">
				<tr>
					<td colspan="7" class="bg_main"><b>列表</b></td>
				</tr>
				<tr id="bg_yellow">
					<td>时间</td>
					<td>来源</td>
					<td>级别</td>
					<td>内容</td>
				</tr>
				{[foreach from=$list item=row]}
				<tr class='view_edit_tr' id='{[$row.id]}'>
					<td>{[$row.operate_time]}</td>
					<td class="wid_general">{[$row.source]}</td>
					<td>{[if $row.log_level==0]}正常{[else]}错误{[/if]}</td>
					
					<td>{[$row.mem]}</td>
				</tr>
				{[/foreach]}
				<tr>
					<td colspan="15" id="bg_yellow" align="right">{[if $page>1]} <a
						href='{[$action]}&page=0&search={[$search]}'>首页</a> <a
						href='{[$action]}&page={[$page-1]}&search={[$search]}'>上一页</a>
						{[else]} 首页 上一页 {[/if]} {[if $page!=$total_page]} <a
						href='{[$action]}&page={[$page+1]}&search={[$search]}'>下一页</a> <a
						href='{[$action]}&page={[$total_page]}&search={[$search]}'>尾页</a>
						{[else]}下一页 尾页 {[/if]} {[$page]}/{[$total_page]}&nbsp;
						共计{[$count]}记录&nbsp;
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
