<div class="menus_aside">
            <div id="left_group_list">
            	<div>
					<a href="?c=public&a=container"><span class="container_left">容器列表</span></a>
				</div>
				<div >
					<a  href="?c=containerproduct&a=usercontainer"><span  class="container_left left_color">我的容器</span></a>
				</div>
				<div>
					<a  href="?c=customimage&a=pagelist"><span  class="container_left left_color">镜像管理</span></a>
				</div>
				<!--  <div>
					<a  href="?c=containerpreferential&a=pagelist"><span  class="container_left left_color">容器优惠信息</span></a>
				</div>-->
            </div>
 </div>