{[dispatch c='public'  a='head']}
<script type="text/template" id="create-container-template">
<tr id="addcontainer" style="background:#CCFFFF "><td colspan="6">
<div class="row-fluid" style="margin-top:10px;">
  <div class="span7">
	  <div class="form-horizontal" >
    	 <div class="control-group">
  		  	<label class="control-label">容器名称</label>
   		    <div class="controls">
     	 		<input type="text" name="name" placeholder="请输入容器名称">
   		    </div>
		 </div>
		 <div class="control-group">
  		  	<label class="control-label">镜像</label>
   		    <div class="controls"  id="images">
				正在加载中
   		    </div>
		 </div>
	<!--	<div class="control-group">
  		  	<label class="control-label">备注</label>
   		    <div class="controls">
				<textarea name="sum"></textarea>
   		    </div>
		 </div>-->
		<div class="control-group">
   		    <div class="controls">
				<button class="btn btn-success btns"  id="enter">提交</button>
				<button class="btn"  id="esc">取消</button>
   		    </div>
		 </div>
     </div>
	</div>
  	 <div class="span5" id="info" style="border:1px solid #ccc;width:40%;height:100%;white-space:normal">
			<h5>镜像详情：</h5>
			<span class="text-success" style="word-wrap:break-word; word-break:break-all;display:block;width:100%;"></span>
	 </div>
</div>
</td></tr>
</script>
<script type="text/template" id="add-vhost-template">
<tr id="addvhost" style="background:#CCFFFF ">
	<td colspan="10">
	  <div  class="form-search">
     	 		<input type="text" name="vhost" placeholder="www.com">
				<button class="btn btn-success btns"  id="enter">提交</button>
				<button class="btn"  id="esc">取消</button>
     </div>
	</td>
</tr>

</script>
<script type="text/template" id="container-renew-template">
<tr id="renewcontainer" style="background:#CCFFFF ">
	<td colspan="10" >
         <div class="alert" style="margin-top:10px;" id="sum"><em>￥{{price}}</em></div>
  		<div class="form-horizontal" style="padding:2% 20%">
			<div class="control-group">
  		  		<label class="control-label">续费空间</label>
   		    	<div class="controls">
     	 			 {{name}}
   		   		 </div>
			 </div>
			<div class="control-group">
  		  		<label class="control-label">空间价格</label>
   		    	<div class="controls">
     	 			<em>{{price}}(元/月)<em>
   		   		 </div>
			 </div>
    		 <div class="control-group">
  		  		<label class="control-label">续费月数</label>
   		    	<div class="controls">
     	 			<i class="icon-minus" id="minus"></i><input type="text" name="month" value="1" class="input-mini"><i class="icon-plus" id="add"></i>
   		   		 </div>
			 </div>
			<div class="control-group">
   		   		 <div class="controls">
					<button class="btn btn-success btns"  id="enter">提交</button>
					<button class="btn"  id="esc">取消</button>
   		    	</div>
		 	</div>
		</div>
	</td>
</tr>
</script>
<script type="text/javascript">
var usedcontainer = eval("("+'{[$usedcontainer]}'+")");
var unusedcontainer = eval("("+'{[$unusedcontainer]}'+")");
var lastaddname= "{[$lastaddname]}";
$(function(){
	$("#left_group_list").find('div').eq(1).addClass('cur');
	$("#nav_container").addClass("cur");
})
</script>
<link href="/style/user/css/container.css" rel="stylesheet">
<link href="/style/user/css/domain.css" rel="stylesheet">
<link href="/style/user/plugin/intro/introjs.css" rel="stylesheet">
<script type='text/javascript' src="/style/user/plugin/intro/intro.js"></script>
<script type='text/javascript' src="{[$STATIC]}container/usercontainer.js"></script>
<div class="row-fluid" style="height:30px;">
		<span id="domain_error" class="offset3"></span>
</div>
<div class="wrap" id="left">
    <div class="cl mtb20">
		{[include file='container/containerleft.html']}
 		<div class="cont_main" id="main">
	 			<ul class="nav nav-tabs" style="margin-top:10px;">
				  <li class="active">
				    <a data-toggle="tab" href="#used">使用中<span class="badge badge-success">{[count($used)]}</span></a>
				  </li>
				  <li><a  data-toggle="tab" href="#unused" >未使用<span class="badge badge-success">{[count($unused)]}</span></a></li>
				     <a href="?c=container&a=introduce"  class="pull-right" target="_blank" ><span class="btn btn-success btns" ><i class="icon-question-sign icon-white"></i>查看帮助</span></a>
			    </ul>	
			 
			    <div class="tab-content">
			        <div class="tab-pane  domain_box"  id="unused" >
						<table class="domain_table" width="100%">
							<thead>
								<tr>
									<th>空间名称</th>
									<th>内存(M)</th>
									<th>硬盘(G)</th>
									<th>CPU</th>
									<th>过期时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
		 			{[foreach from=$unused item=row]}
		 					<tr  id="tr{[$row.id]}" data-disk='{[$row.disk_space]}' data-productname='{[$row.productname]}' data-open-staus=‘0’ >
									<td>{[$row.productname]}</td>
								    <td>{[$row.memory]}</td>
					       	    	<td>{[$row.disk_space]}</td>
									<td>{[$row.cpu]}</td>
									 <td>{[substr($row.expire_time,0,10)]}</td>
								   <td><a href="#"  onclick="piaoCreateContainer({[$row.id]})"  title=""
								   data-content="点击'创建容器'" data-placement="right" data-toggle="popover" 
								   data-original-title="创建容器">创建容器</button> </a>
							</tr>
						{[/foreach]}
						   </tbody>
						</table>	
					</div>
					 <div class="tab-pane domain_box active"  id="used" >
					    <div class="mtb20 pr">
					   		<div class="btn-group">
								  <a href="?c=containerproduct&a=usercontainer" id="refresh"><span class="btn btn-success btns">刷新</span></a>
							</div>
							<div class="btn-group">
								  <a href="#" id="refresh" onclick="getStatus()"><span class="btn btn-success btns">查询状态</span></a>
							</div>
	                    </div>
						<table class="domain_table" width="100%">
							<thead>
								<tr>
									<th>容器名称</th>
									<th>内存(M)</th>
									<th>硬盘(G)</th>
									<th>cpu</th>
									<th>镜像</th>
									<th>过期时间</th>
									<th>站点</th>
									<th><span id="showstatus"  title=""  data-content="1.显示‘创建中’，表示该容器正在创建中，请刷新页面,等待容器创建成功" 
									data-placement="top" data-toggle="popover"  data-original-title="容器创建状态">状态</span></th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
		 			{[foreach from=$used item=row]}
		 					<tr  id="tr{[$row.id]}" data-disk='{[$row.disk_space]}' data-name='{[$row.name]}' data-open-staus=‘0’ data-price="{[$row.price/100]}">
									<td id="name">
										<a href="?c=containerdomain&a=pagelist&name={[$row.name]}"  data-toggle="popover"><h4>{[$row.name]}<span id="status"></span></h4></a>
									</td>
								    <td>{[$row.memory]}</td>
					       	    	<td  id="disk">{[$row.disk_space]}</td>
									<td>{[$row.cpu]}</td>
									<td>{[$row.mirro]}</td>
									<td>{[substr($row.expire_time,0,10)]}</td>
									<td id="vhost">{[$row.vhost]}</td>
									<td id="createstatus">
								  	 	{[if $row.used ==0]}<span class="label label-warning">未使用</span>
										{[else]}<span class="label label-warning">使用中</span>
										{[/if]}
									</td>
								   <td>
									    <span id="del" data-placement="top" data-toggle="del" data-original-title="删除应用">
												<a onclick="del({[$row.id]})" onmouseover="mouseover('{[$row.id]}','del')">
													<em class="icon_7"></em>
												</a>
										</span>
									<!-- 	{[if $row.vhost == ""]}
										 	<span id="bindvhost" data-placement="top" data-toggle="bindvhost" data-original-title="绑定CDN站点">
												<a onclick="piaoAddVhost({[$row.id]})" onmouseover="mouseover('{[$row.id]}','bindvhost')">
													<em class="icon_4"></em>
												</a>
											</span>
									 	{[else]}
									  	 <span id="delvhost" data-placement="top" data-toggle="delvhost" data-original-title="删除CDN站点">
												<a onclick="delVhost({[$row.id]})"  onmouseover="mouseover('{[$row.id]}','delvhost')">
													<em class="icon_4"></em>
												</a>
											</span>
									 	{[/if]} --> 
									 <span id="renew" data-placement="top" data-toggle="renew" data-original-title="点击续费">
											<a onclick="piaoRenew({[$row.id]})" onmouseover="mouseover('{[$row.id]}','renew')">
												<em class="icon_14"></em>
											</a>
									</span>
								    </td>
							</tr>
						{[/foreach]}
						   </tbody>
						</table>	
					</div>
				</div>
 		</div>
 	</div>
 </div>	
{[include file='public/foot.html']}