{[include file='common/head.html']}
<link rel="stylesheet" rev="stylesheet" href="{[$STATIC]}style/left.css"
	type="text/css" media="all" />
<link rel="stylesheet" rev="stylesheet"
	href="{[$STATIC]}style/public.css" type="text/css" media="all" />
<style type='text/css'>
.one {
	font-size: 20;
	color: red;
}
</style>
<script type="text/javascript">
	function SwitchMenu(obj, sty) {
		if (document.getElementById) {
			var el = document.getElementById(obj);
			var ml = document.getElementById(sty);
			var ar = document.getElementById("masterdiv").getElementsByTagName("ul");
			var mr = document.getElementById("masterdiv").getElementsByTagName("h1");
			if (el.style.display == "none") {
				el.style.display = "block";
				ml.className = "menu";
			} else {
				el.style.display = "none";
				ml.className = "menu1";
			}
		}
	}
</script>
<body style="overflow-x:hidden; overflow-y:hidden;">
	<div id="masterdiv">
		<h1 id="m1" onClick="SwitchMenu('sub1','m1')" class="menu">服务器管理</h1>
			<ul class="submenu left_linght" id="sub1">
				<li><a href="?c=index&a=main" target='main'>{[$lang.myinfo]}</a></li>
				<!--  <li><a href="?c=proxy&a=pagelist" target='main'>我的账号</a></li>-->
				<li><a href="?c=setting&a=index" target='main'>服务器设置</a></li>
				<li><a href="?c=promostr&a=pagelist" target='main'>优惠码</a></li>
				<!-- 
				<li><a href="?c=proxy&a=queryattack" target='main'>攻击查询</a></li>
				-->
			</ul>
		
		<h1 id="m2" onClick="SwitchMenu('sub2','m2')" class="menu">用户管理</h1>
			<ul class="submenu left_linght" id="sub2">
				<li><a href="?c=users&a=pagelist" target='main'>用户列表</a></li>
				<li><a href="?c=moneylog&a=pagelist" target='main'>充值消费记录</a></li>
			</ul>

		<h1 id="m3" onClick="SwitchMenu('sub3','m3')" class="menu">域名解析</h1>
			<ul class="submenu left_linght" id="sub3">
				<li><a href="?c=domains&a=pagelist" target='main'>域名列表</a></li>
			</ul>

		<h1 id="m4" onClick="SwitchMenu('sub4','m4')" class="menu">线路管理</h1>
			<ul class="submenu left_linght" id="sub4">
				<li><a href="?c=views&a=pagelist" target='main'>线路列表</a></li>
				<li><a href="?c=groupview&a=pagelist" target='main'>线路组列表</a></li>
			</ul>
		
		<h1 id="m5" onClick="SwitchMenu('sub5','m5')" class="menu">NS管理</h1>
			<ul class="submenu left_linght" id="sub5">
				<!--  <li><a href="?c=ns&a=iplist" target='main'>ip列表</a></li>-->
				<li><a href="?c=ns&a=nslist" target='main'>ns列表</a></li>
				<!--  <li><a href="?c=ns&a=oplog" target='main'>ns日志</a></li>-->
			</ul>
		
	</div>
</body>
{[include file='common/foot.html']}
