
<footer>
	<br/>
	<p align="center" >© 2015 Aegins</p>
	
</footer>
<style>
#feedback {
	position: fixed;
	right: 20px;
	top: 92%;
	height: 30px;
	width: 100px;
	color: #333;
	font-size: 12px;
	line-height: 20px;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	text-align: center;
}
#feedback:hover {
	background-color: #e2e2e2;
}
#feedback a {
	line-height: 30px;
	text-decoration: none;
	color: #333;
}
</style>
<script type='text/javascript'>
/*
var userlogin = '{[$userlogin]}';
if (!userlogin) {
	$("#go_home").attr('href','');
}
*/
</script>
</body>
<!--[if lt IE 9]>
<script type='text/javascript' src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</html>