<!--  <div class="show-message"><strong ><span class="offset2" id="error-message" ></span></strong></div>-->

<!-- 进度条 

<div id="progress_main" class="progress" style="display:none">

	<div id="progress_success" class="bar bar-success" style="width:0%;"></div>

	<div id="progress_error" class="bar bar-danger" style="width:0%"></div>

</div>-->

<!--  <div class="contain_top">

		<div class="title_logo">

			<a href="?c=public&a=index&groupid={[$groupid]}" id="go_home"><i></i></a>

			<span id="domain_name_show"></span><strong id="domain_pname_show">免费版</strong>

		</div>

		<div class="cont_menus">

			<ul id="record-operat">

			<li><a href="javascript:;" id="close">打开</a></li>

			<li id="record"><a href="?c=public&a=record">记录管理</a></li>

			<li id="query"><a href="?c=public&a=recordQuery">解析统计</a></li>

			<li id="line"><a href="?c=public&a=line">线路管理</a></li>

			<li id="monitor"><a href="?c=public&a=monitorLog">监控日志</a></li>

			<li id="operat"><a href="?c=public&a=operatLog">操作日志</a></li>

			<li id="setting"><a href="?c=public&a=domainSetting">域名设置</a></li>

			{[if $iscdn == 1]}

			<li id="cdn_cg"><a href="?c=public&a=cdnCg">CDN设置</a></li>

			<li id="cdnflow"><a href="?c=public&a=cdnflow">CDN流量</a></li>

			<li id="connection"><a href="?c=public&a=connection">连接信息</a></li>

			{[/if]}

		

			</ul>

		</div>

</div>-->

<div id="nr_left">

    <!----二级导航------>

    <div class="ejdh">

	    <ul  id="record-operat">
			<li><a href="?c=public&a=index" id="nav_domain" style="margin-left:35px; background:none;">域名管理</a></li>
            
		    <li id="record"><a href="?c=public&a=record"><span><img src="{[$STATIC]}/agies/img/xinkehu.png" /></span>记录管理</a></li>

			<li id="query"><a href="?c=public&a=recordQuery"><span><img src="{[$STATIC]}/agies/img/kehuzhuangyi.png" /></span>解析统计</a></li>

			<li id="line"><a href="?c=public&a=line"><span><img src="{[$STATIC]}/agies/img/xinqiandan.png"  /></span>线路管理</a></li>

			<li id="monitor"><a href="?c=public&a=monitorLog"><span><img src="{[$STATIC]}/agies/img/pinglun.png"  /></span>监控日志</a></li>

			<li id="operat"><a href="?c=public&a=operatLog"><span><img src="{[$STATIC]}/agies/img/wodehuifu.png"/></span>操作日志</a></li>

			<li id="setting"><a href="?c=public&a=domainSetting"><span><img src="{[$STATIC]}/agies/img/gerenshezhi_hui.png" /></span>域名设置</a></li>

	    </ul>

    </div>

</div>

