			<!--wrap_side-->
			<div class="wrap_side wrap_side_noindex">
				<div class="side_box">
					<div class="title">
						<ul>
							<li><a href="#">帐户管理</a></li>
						</ul>
					</div>
					<div class="side_box_info">
						<ul class="li_nav">
							<li><a class="m_ico m_ico_01" href="?c=user&a=index">帐户信息</a></li>
							<li><a class="m_ico m_ico_02" href="?c=user&a=changeForm">修改资料</a></li>
							<li><a class="m_ico m_ico_02" href="?c=user&a=changePasswordForm">修改密码</a></li>
						</ul>
					</div>
				</div>					
				<div class="side_box">
					<div class="title">
						<ul>
							<li><a href="#">我的产品</a></li>
						</ul>
					</div>
					<div class="side_box_info">
						<ul class="li_nav">
						<li><a class="m_ico m_ico_07" href="?c=domain&a=pagelist">域名列表</a></li>
						</ul>
					</div>
				</div>				
			</div>
			