{[dispatch c='public'  a='head']}
<script type='text/javascript' src='/style/js/highcharts/highcharts.js'></script>
<script type='text/javascript' src='/style/js/highcharts/modules/exporting.js'></script>
<script type='text/javascript' src='/style/js/highcharts/themes/grid.js'></script>
<script type='text/javascript' src="{[$STATIC]}record/query.js?v={[$jsversion]}"></script>
<script type='text/template' id="query-nologin-template">
	<a href="?c=session&a=loginForm" class="font-red">没有登陆,点击登陆</a>
</script>
<div class="erp_nr clearB">
			{[include file='record/right-operat.html']}
			<div id="nr_right">
					<div id="recordquery_hours" style="margin-top:20px;"></div>
					 <div class="blank10"></div>
					  <div class="blank10"></div>
			      <div id="recordquery_days" ></div>
		</div>		
		</div>
</div>

{[include file='public/foot.html']}
