{[include file='common/head.html']}
<body bgcolor="#ffffff" text="#000000" leftmargin='0' topmargin='0'>
<script type='text/javascript' >
function del_attack(id)
{
	if (confirm('确定要给该记录解除迁引状态')) {
		$.ajax({
			url:'?c=attack&a=delMovecited&id='+id,
			dataType:'json',
			success:function(a) {
				if (a.status.code != 1) {
					alert(a.status.message);
					return;
				}
				var tr = $("#tr"+id);
				tr.find('#status').html('已解封');
				tr.css('background-color','');
			},
			error:function(e) {
				alert(e.responseText);
			}
		});
	}
}
/*
 * ************************* 域名搜索 ********************
 */
function domainQuery(){
	var domain = $("#domainName").val();
	window.location = '?c=attack&a=pagelist&domain='+domain;
}

</script>
	<div align="center">
		<div class="wid_main mar_main" align="left">
			<div class="block_top" align="left">当前位置：阻断列表</div>
			
			<form name="form1" action='{[$action]}' method='post'>
				<div style='padding-top: 10px;'>
					<span> 域名搜索: <input id="domainName" name='domain' size=32>
						<input type='button' onclick="domainQuery();" value='搜索'>
					</span>  
					<span> 选择显示:<select name='page_count'
						onchange='set_pagecount(this.value)'> {[for $i=10;$i <=
							60;$i++]} {[if $i%5==0]}
							<option value='{[$i]}' {[if $page_count==$i]}selected{[/if]}>{[$i]}</option>
							{[/if]} {[/for]}
					</select> 行
					</span>
					<span>
						<input type="button" onclick="window.location='?c=attack&a=getStatus&status=0'" value="未解封域名"/>
					</span>
				</div>
			</form>

			<table class="table_main2" cellpadding="0" cellspacing="1">
				<tr>
					<td colspan="15" class="bg_main"><b>{[$name]}阻断列表</b></td>
				</tr>
				<tr id="bg_yellow">
					<td>操作</td>
					<td>域名</td>
					<td>server</td>
					<td>创建时间</td>
					<td>解封时间</td>
					<td>解除剩余/状态</td>
					<td>备注</td>
				</tr>
				{[foreach from=$list item=row]}
				<tr id="tr{[$row.id]}" {[if $row.status==0]}style="background-color:#FFB6C1"{[/if]}>
					<td>&nbsp;</td>
					<td>{[$row.domain]}</td>
					<td>{[$row.server]}</td>
					<td>{[$row.createtime]}</td>
					<td>{[$row.unlocktime]}</td>
					<td id="status">
					{[if $row.status != 1]}
					{[$row.time_val]}分钟后解封/[<a href="javascript:del_attack({[$row.id]})">解除迁引</a>]
					{[/if]}
					{[if $row.status == 1 && $row.time_val > 0]}已解封{[/if]}
					{[if $row.time_val == 0]}永久{[/if]}
					</td>
					<td>{[$row.remark]}</td>

				</tr>
				{[/foreach]}
				<tr>
					<td colspan="15" id="bg_yellow" align="right">{[if $page>1]} <a
						href='{[$action]}&page=0&search={[$search]}'>首页</a> <a
						href='{[$action]}&page={[$page-1]}&search={[$search]}'>上一页</a>
						{[else]}首页 上一页{[/if]} {[if $page!=$total_page]} <a
						href='{[$action]}&page={[$page+1]}&search={[$search]}'>下一页</a> <a
						href='{[$action]}&page={[$total_page]}&search={[$search]}'>尾页</a>
						{[else]}下一页 尾页{[/if]} {[$page]}/{[$total_page]}&nbsp;
						共计{[$count]}记录&nbsp;
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>































