{[include file='common/head.html']}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<script type='text/javascript'>
var dia;
</script>
	<div align="center">
		<div class="wid_main mar_main" align="left">
			<div class="block_top" align="left">当前位置：代理管理 --> 我的代理用户列表</div>
			<form name="form1" action='{[$action]}' method='post'>
				<div style='padding-top: 10px;'>

					 <span> 选择显示:<select name='page_count'
						onchange='set_pagecount(this.value)'> {[for $i=10;$i <=
							60;$i++]} {[if $i%5==0]}
							<option value='{[$i]}' {[if $page_count==$i]}selected{[/if]}>{[$i]}</option>
							{[/if]} {[/for]}
					</select> 行
					</span>
				</div>
			</form>
			<table class="table_main2" cellpadding="0" cellspacing="1">
				<tr>
					<td colspan="13" class="bg_main"><b>用户列表</b></td>
				</tr>
				<tr id="bg_yellow">
					<td>用户名</td>
					<td>注册时间</td>
					<td>状态</td>
				</tr>
				{[foreach from=$list item=row]}
				<tr id="tr{[$row.id]}">
					<td>{[$row.email]}</a></td>
					<td>{[$row.createtime]}</td>
					<td id="status">	
						{[if $row.status==0]}已激活{[else]}<b class='red'>未激活</b>{[/if]}
					</td>
				</tr>
				{[/foreach]}
				<tr>
					<td colspan="13" id="bg_yellow" align="right">{[if $page>1]} <a
						href='{[$action]}&page=0&search={[$search]}'>首页</a> <a
						href='{[$action]}&page={[$page-1]}&search={[$search]}'>上一页</a>
						{[else]} 首页 上一页 {[/if]} {[if $page!=$total_page]} <a
						href='{[$action]}&page={[$page+1]}&search={[$search]}'>下一页</a> <a
						href='{[$action]}&page={[$total_page]}&search={[$search]}'>尾页</a>
						{[else]}下一页 尾页 {[/if]} {[$page]}/{[$total_page]}&nbsp;
						共计{[$count]}记录&nbsp;
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>